/*
* HTML5/CSS3 Carousel
* Copyright © 2012 Thomas Bentz
* Email: digitalblur1@gmail.com
*/
html {
    min-height: 100%;
}
body, ul {
    padding: 0px;
    margin: 0px;
}
body {
    overflow: hidden;
    background: -moz-linear-gradient(top, #201e21 19%, #333149 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(19%,#201e21), color-stop(97%,#333149)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #201e21 19%,#333149 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #201e21 19%,#333149 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #201e21 19%,#333149 97%); /* IE10+ */
    background: linear-gradient(to bottom, #201e21 19%,#333149 97%); /* W3C */
}

#carousel {
    position: relative;
    transition: right 1s;
    -moz-transition: right 1s;
    -webkit-transition: right .5s;
    -o-transition: right 1s;
}

li {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    height: 400px;
}

.panel {
    position:inherit;
    width: 300px;
    height: 300px;
    vertical-align:middle;
    display:table-cell;
    border-radius: 15px;

    background: -moz-linear-gradient(top, #23538a 18%, #1e62b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#23538a), color-stop(100%,#1e62b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #23538a 18%,#1e62b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #23538a 18%,#1e62b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #23538a 18%,#1e62b5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #23538a 18%,#1e62b5 100%); /* W3C */

    transition: height 1s, width 1;
    -moz-transition: height 1s, width 1s;
    -webkit-transition: height .5s, width .5s;
    -o-transition: height 1s, width 1s;
}

.text {
    text-align: center;
    vertical-align: bottom;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: -60px;
    padding: 0;
    f/ont-family: Arial, Helvetica, sans-serif;
    font-family: Verdana;
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}